body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom right,
        #0f172a,
        #111827
    );
    color: #f8fafc;
}
.container {

    max-width: 1000px;

    margin: auto;

    padding: 2rem;

    border-radius: 1.5rem;

    background:
        rgba(17,24,39,0.9);

    backdrop-filter: blur(10px);

    box-shadow:
        0 10px 40px rgba(0,0,0,0.4);
}
h1{
    margin-bottom: 2rem;
}

input, select, button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border: 1px solid #334155;
    border-radius: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: 0.3s;
    color: #f8fafc;
    background-color: #0f172a;
}

input:focus, select:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 4px rgba(59,130,246,0.2);
}


button {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(
        135deg,
        #2563eb,
    );
    color: white;
    border:none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
}
button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow:  0 10px 25px rgba(59,130,246,0.35);
}
p{
    font-size: 1.1rem;
}
canvas {

    margin-top: 2rem;

    background: #1e293b;

    padding: 1rem;

    border-radius: 1rem;

    box-shadow:
        0 8px 30px rgba(0,0,0,0.3);
}

.info-area {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card {
    flex: 1;

    background: #1e293b;

    padding: 1.5rem;

    border-radius: 1.2rem;

    box-shadow: 0 8px 30px rgba(0,0,0,0.25);

    transition: 0.6s;
}
.card:hover {
    transform: translateY(-4px);
    
    background: #243244;
}

.history-item {

    background: #0f172a;

    border-left: 4px solid #3b82f6;

    padding: 1rem;

    border-radius: 0.8rem;

    margin-top: 0.8rem;

    color: #e2e8f0;

    transition: 0.3s;
}
.history-item:hover {

    transform: translateX(4px);

    background: #162033;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
